@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat
@using Bakery.Models

<h1>@Html.DisplayFor(model => model.Name) Details</h1>

<div class="content">
  <h3>Flavors:</h3>
  @if (@Model.Flavors.Count == 0)
  {
    <p>No flavors found!</p>
  }

  @foreach (var join in @Model.Flavors)
  {
    <div class='treat-has-flavor'>
      <h4>@Html.ActionLink($"{join.Flavor.Name}", "Details", "Flavors", new { id = join.Flavor.FlavorId })</h4>
      @using (Html.BeginForm("RemoveFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        @Html.Hidden("treatId", @join.TreatId)
        <input type="submit" value="Remove" class='btn'/>
      }
    </div>
  }
</div>


<div class="links">
  <p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Add a flavor", "AddFlavor", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</p>
</div>
