@{
  Layout = "_Layout";
}

@model Bakery.Models.Flavor

<h1>Edit @Model.Name</h1>

<div class="content">
  @using (Html.BeginForm("Update", "Flavors"))
  {
      @Html.HiddenFor(model => model.FlavorId)
      @Html.HiddenFor(model => model.Treats)

      @Html.LabelFor(model => model.Name)
      @Html.EditorFor(model => model.Name)

      <input type="submit" value="Save" class="btn"/>
  }
</div>
